body {
	// http://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top
	padding-top: $application-body-padding-top; // for fixing navbar-fix-top issue
}

.margin-bottom0 {
	margin-bottom: 0px;
}

.margin-bottom20 {
	margin-bottom: 20px;
}
