<div class="container">
	<div>
		<md-content>
			<md-button class="md-raised md-primary" ng-click="vm.addTest()">
				Add a new Test!
			</md-button>
		</md-content>
	</div>

	<div>
		<h3>Assign a Test</h3>
		<md-content layout-padding>
			<div>
				<form name="userForm">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>First name</label>
							<input ng-model="vm.candidate.firstName">
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Last Name</label>
							<input ng-model="vm.candidate.lastName">
						</md-input-container>
					</div>
					<md-input-container class="md-block">
						<label>Email address</label>
						<input ng-model="vm.candidate.email">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Test</label>
						<md-select ng-model="vm.candidate.test">
							<md-option ng-repeat="test in vm.tests" value="{{test._id}}">
								{{test._id}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-button ng-click="vm.createTestForCandidate()" class="md-primary md-raised">
						Create a Test for Candidate
					</md-button>
				</form>
			</div>
		</md-content>
	</div>
</div>
