<div layout="row" layout-align="center">
	<md-content flex="90">
		<div layout="row">
			<div flex="45">
				<md-input-container class="md-block">
					<label>Search question?</label>
					<input name="search" type="text" ng-model="vm.search">
				</md-input-container>
				<md-list-item class="secondary-button-padding" ng-repeat="item in vm.searchedQuestions">
					<p>{{item.question}}</p>
					<p><span ng-repeat="tag in item.tags">{{tag}}, </span></p>
					<md-button class="md-secondary" ng-click="vm.addQuestion(item._id)">Add</md-button>
				</md-list-item>
			</div>
			<div flex="45">
				<md-list-item class="secondary-button-padding" ng-repeat="item in vm.questions">
					<p>{{item.question}}</p>
					<md-button class="md-raised" ng-click="vm.deleteQuestion(item._id)">Delete</md-button>
				</md-list-item>
			</div>
		</div>
	</md-content>
</div>
