// TODO - Need to convert this file to SCSS
.md-button {
	text-transform: none;
	padding-left: 10px;
	padding-right: 10px;
}

.md-button.md-primary.md-raised {
	color: whitesmoke;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	color: whitesmoke;
	text-shadow: 1px 1px 5px black;
}
