// application brand color
$application-brand-color: #F79E1B;

// brand for buttons and another elements.
$brand-primary: $application-brand-color;
$brand-primary-dark: #EB001B;
$brand-primary-light: #F79E1B;
