// application brand color
$application-brand-color: #009688;

// brand for buttons and another elements.
$brand-primary: $application-brand-color;
$brand-primary-dark: #00897B;
$brand-primary-light: #80CBC4;
