@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$application-font-style: "Open Sans", "Segoe UI", arial; //setting application font

// overriding application style
$font-family-sans-serif: $application-font-style;

p[ng-message] {
	color: #ff0000;
	font-size: 11px;
	padding-left: 5px;
	margin-top: -3px;
}
