<div class="container md-whiteframe-5dp md-padding">
	<p><strong>Question:</strong> {{vm.question}}</p>
	<snippet ng-if="vm.snippet">{{vm.snippet}}</snippet>
	<div class="question-answers">
		<p><strong>Answer:</strong></p>
		<div class="radio" ng-repeat="answer in vm.answers">
			<label>
				<input type="radio" ng-model="vm.answerId" value="{{answer.id}}" name="answer-options"> {{answer.answer}}
			</label>
		</div>
	</div>
	<div class="question-actions">
		<button type="button" ng-click="vm.next()" class="pull-right">
			Save & Continue..
		</button>
	</div>
</div>
