<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>{{vm.question}}</strong>
		</div>
		<div class="panel-body">
			<snippet ng-if="vm.snippet">{{vm.snippet}}</snippet>
			<div class="margin-bottom20">
				<p><strong>Answer options:</strong></p>
				<div ng-if="vm.isRadioSelect" class="radio" ng-repeat="answer in vm.answers">
					<label>
						<input type="radio" ng-model="vm.answerId" value="{{answer.id}}" name="answer-options">
						{{answer.answer}}
					</label>
				</div>
				<div ng-if="vm.isMultiSelect" class="checkbox" ng-repeat="answer in vm.answers">
					<label>
						<input type="checkbox" value="{{answer.id}}" name="answer-options">
						{{answer.answer}}
					</label>
				</div>
				<div ng-if="vm.isDescriptiveQuestion">
					<textarea class="form-control" ng-model="vm.descriptiveAnswer" rows="5"></textarea>
				</div>
			</div>
			<div>
				<button type="button" ng-click="vm.next()" class="pull-right btn btn-primary">
					Save & Continue..
				</button>
			</div>
		</div>
	</div>
</div>
