tags-input .tags {
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 1px 0 lightgray inset;
}

tags-input .tags .tag-item {
	background: linear-gradient(to bottom, #f0f9ff 0%, #eaedef 47%, #e4e4e4 100%);
}
