<div class="md-whiteframe-5dp md-padding">
	<h4>Question Entry</h4>
	<form name="questionMasterForm">
		<md-input-container class="md-block">
			<label>What's your question?</label>
			<input name="question" type="text" ng-model="vm.questionMaster.question">
		</md-input-container>
		<md-switch ng-model="vm.snippetSwitch" aria-label="Switch 6">
			Snippet? {{vm.snippetSwitch}}
		</md-switch>
		<md-input-container ng-if="vm.snippetSwitch" class="md-block">
			<textarea ckeditor="editorOptions" ng-model="vm.questionMaster.snippet"></textarea>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Question Type</label>
			<md-select ng-model="vm.questionMaster.type">
				<md-option ng-repeat="item in vm.questionType" value="{{item.value}}">
					{{item.text}}
				</md-option>
			</md-select>
		</md-input-container>
		<answer-entry></answer-entry>
		<md-input-container class="md-block">
			<label>Weightage</label>
			<md-select ng-model="vm.questionMaster.weightage">
				<md-option ng-repeat="item in vm.weightage" value="{{item.value}}">
					{{item.text}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Ideal Timing</label>
			<input type="number" ng-model="vm.questionMaster.idealTime">
		</md-input-container>
		<md-button class="md-raised md-primary"
				   ng-click="vm.submit()">Save Your Question!
		</md-button>
	</form>

	<file-upload></file-upload>

</div>
