<div class="well well-sm" ng-if="vm.questionMaster.type === 'MSQ' || vm.questionMaster.type === 'SSQ'">
	<p>Answer options:</p>
	<div class="form-group input-group" ng-repeat="item in vm.answers">
		<input type="text" class="form-control" ng-model="item.answer" placeholder="Answer text">
					<span class="input-group-addon">
						<input type="checkbox" ng-model="item.isCorrect"> &nbsp; Is it true option?
					</span>
		<span class="input-group-addon"><i class="fa fa-trash" aria-hidden="true" ng-click="vm.removeAnswer($index)"></i></span>
	</div>

	<button class="btn btn-primary btn-xs" ng-click="vm.addAnswerOption()">
		<i class="fa fa-plus-circle" aria-hidden="true"></i> Add more option
	</button>
</div>

<div ng-if="vm.questionMaster.type === 'DQ'" class="form-group">
	<label ng-hide="true"
		   ng-init="vm.answers[0].isCorrect = true">Descriptive Answer</label>
	<textarea ng-model="vm.answers[0].answer" class="form-control" placeholder="Descriptive Answer"></textarea>
</div>
