<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-key" aria-hidden="true"></i> Reset Password
				</div>
				<div class="panel-body">
					<form name="emailForm">
						<p>
							<small>
								<i class="fa fa-info-circle"></i>
								Please Enter Registered Email and We will verify Email and send OTP to that Email.
							</small>
						</p>
						<div class="row">
							<div class="form-group col-md-9">
								<input type="text" class="form-control" placeholder="Registered Email" ng-model="vm.user.email" ng-disabled="vm.isEmailVerified" autofocus>
							</div>
							<div class="visible-sm visible-xs">
								<div class="col-md-12">
									<div ng-if="vm.isEmailNotFound" class="alert alert-danger">
										{{vm.emailNotFoundMsg}}
									</div>
								</div>
							</div>
							<div class="form-group col-md-3">
								<button class="btn btn-primary btn-block" ng-click="vm.checkEmailAndSendOTP()" ng-disabled="vm.isEmailVerified">
									Send OTP
								</button>
							</div>
						</div>
						<div ng-if="vm.isEmailNotFound && !vm.isEmailVerified" class="hidden-sm hidden-xs alert alert-danger margin-bottom0">
							{{vm.emailNotFoundMsg}}
						</div>
					</form>
					<form name="verifyOTPForm" ng-if="vm.isEmailVerified">
						<div class="row">
							<div class="form-group col-md-9">
								<input type="text" class="form-control" ng-model="vm.otp" ng-disabled="vm.isOTPVerified" placeholder="One Time Password (OTP)">
							</div>
							<div class="form-group col-md-3">
								<button class="btn btn-primary btn-block" ng-disabled="vm.isOTPVerified" ng-click="vm.verifyOTP()">Verify OTP
								</button>
							</div>
						</div>
					</form>
					<div class="alert alert-success" ng-if="vm.isOTPVerified">
						Your OTP is verified. Please fill below details and Reset Your Password.
					</div>
					<div class="alert alert-danger" ng-if="vm.isWrongOTP">
						Your OTP is wrong. Please check E-mail and Try that OTP.
					</div>
					<form name="resetPasswordForm" ng-if="vm.isOTPVerified">
						<div class="form-group">
							<input type="password" class="form-control" ng-model="vm.resetPassword.newPassword" placeholder="New Password">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" ng-model="vm.resetPassword.confirmNewPassword" placeholder="Confirm New Password">
						</div>
						<div class="form-group">
							<button class="btn btn-primary" ng-click="vm.resetPassword()">Reset Password</button>
						</div>
					</form>
					<div class="alert alert-danger" ng-if="vm.passwordFailure">
						{{vm.passwordFailureMsg}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
